body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

table, tr, th, td{
    padding: 5px;
    border-color: gray;
    border-style: groove;
    border-width: 3px;
    border-collapse: collapse; /*Junta as bordas*/
}

/*if (isset($_POST['disciplina'])) {
            foreach($avaliacoes as $av){
                if ($_POST['disciplina'] == $av->disciplina) {
                    ?>
                        <tr>
                            <td><?php echo $av->data; ?></td>
                            <td><?php echo $av->disciplina; ?></td>
                            <td><?php echo $av->conteudo; ?></td>
                            <td><?php echo $av->tipo; ?></td>
                            <td><?php echo $av->peso; ?></td>
                        </tr>
                    <?php
                }
            }
        }
        else {
            foreach($avaliacoes as $av){
            ?>
                <tr>
                    <td><?php echo $av->data; ?></td>
                    <td><?php echo $av->disciplina; ?></td>
                    <td><?php echo $av->conteudo; ?></td>
                    <td><?php echo $av->tipo; ?></td>
                    <td><?php echo $av->peso; ?></td>
                </tr>
            <?php
            }
        }
        ?>*/